.page {
  min-height: 100vh;
  background: var(--color-primary-100);
  color: var(--color-gray-10);
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 520px;
  padding: 56px 22px 36px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  padding: 0 6px;
}

.kicker {
  /* opacity: 0.92; */
  color: var(--color-gray-10);
  margin-bottom: 10px;
}

.h1 {
  margin: 0;
  opacity: 0.96;
}

.p {
  margin-top: 10px;
  opacity: 0.78;
  line-height: 1.5;
  color: var(--color-gray-40);
}

.center {
  margin-top: 18px;
}

.form {
  margin-top: 18px;
  display: grid;
  gap: 8px;
}

.input {
  width: 100%;
  min-height: 168px;
  border-radius: 18px;
  padding: 18px 18px;
  border: 0;
  background: var(--color-primary-80);
  color: var(--color-gray-10);
  outline: none;
  resize: none;
  line-height: 1.5;
}

.input::placeholder {
  color: var(--color-primary-30);
}

.hint {
  min-height: 16px;
  color: rgba(252, 252, 252, 0.72);
}

.error {
  color: var(--color-secondary-30);
  font-weight: 700;
}

.cta {
  margin-top: auto;
  padding-top: 22px;
  padding-bottom: 18px;
}

.backBtn {
  background: var(--color-secondary-60);
  color: var(--color-gray-10);
}

